header {
  text-align: center;
  padding-top: 20px;
}

main h2 {
  font-size: 27px;
  margin-bottom: 20px;
}

main h3 {
  margin: 10px 0;
}

.row {
  /* max-width: 992px; */
  margin-left: auto;
  margin-right: auto;
  margin: 50px;
}

#lezioni, #steps, #why {
  text-align: center;
}

#steps, #why {
  background-color: #f9f9f9;
}

/* BLOCCO LEZIONI */
#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

/* BLOCCO PERCHE */
#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

@media screen and (min-width: 992px) {

#why [class*="col-"] {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 421px) and
(max-width: 991px) {
  
  img {
    height: 130px;
    width: auto;
  }

  [class*="col-"] {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 420px) {
  
  img {
    height: 100px;
    width: auto;
  }

  [class*="col-"] {
    padding: 10px 20px;
  }
}