header, #lezioni, #steps, #why {
  text-align: center;
}

header h1 {
  font-size: 40px;
  margin-top: 50px;
}

.container {
  margin-top: 50px;
}

main h2 {
  font-size: 27px;
  margin-bottom: 20px;
}

main h3 {
  margin: 10px 0;
}

#why img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px;
}

/* MEDIA QUERY */
/* large screen */
@media screen and (min-width: 1170px) {

  img {
    height: 200px;
    width: auto;
  }

  #why [class*="col-"] {
    margin-bottom: 30px;
  }
}

/* medium screen */
@media screen and (min-width: 501px) and
(max-width: 1169px) {
  
  img {
    height: 130px;
    width: auto;
  }

  [class*="col-"] {
    padding: 10px 20px;
  }
}

/* small screen */
@media screen and (max-width: 500px) {
  
  img {
    height: 100px;
    width: auto;
  }

  [class*="col-"] {
    padding: 10px 20px;
  }
}